name: Déploiement sur IONOS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Cloner le dépôt
        uses: actions/checkout@v3

      - name: Afficher les fichiers avant déploiement
        run: |
          ls -R ./src
          ls -R ./public
          cat ./composer.json

      - name: Déployer via SFTP
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.IONOS_HOST }}
          username: ${{ secrets.IONOS_USER }}
          password: ${{ secrets.IONOS_PASSWORD }}
          source: "src/*, public/*, composer.json"
          target: ${{ secrets.IONOS_PATH }}

      - name: Exécuter des commandes sur IONOS (si besoin)
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.IONOS_HOST }}
          username: ${{ secrets.IONOS_USER }}
          password: ${{ secrets.IONOS_PASSWORD }}
          script: |
            cd ${{ secrets.IONOS_PATH }}
            ls
            /usr/bin/php8.3-cli ~/composer.phar install --no-dev --optimize-autoloader
            php bin/console doctrine:migrations:migrate --no-interaction --env=prod
            php bin/console tailwind:build
            php bin/console asset-map:compile
            rm -f /*.tar.gz


      - name: Afficher les fichiers après déploiement
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.IONOS_HOST }}
          username: ${{ secrets.IONOS_USER }}
          password: ${{ secrets.IONOS_PASSWORD }}
          script: |
            cd ${{ secrets.IONOS_PATH }}
            ls -R
